{% load static %}
{% include 'header.html' %}
<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'CSS/styleapp.css' %}" />
    
</head>
<body>

    <div class="inner-banner">
        <div class="container">
            <div class="inner-banner-content">
                <h2 data-wow-duration="1.5s" data-wow-delay=".2s" style="visibility: visible; animation-duration: 1.5s; animation-delay: 0.2s;">
                    About Us                </h2>
                    
            </div><!-- /.inner-banner-content -->
        </div><!-- /.container -->
    </div><!-- /.inner-banner -->


    <div class="container">
        <div class="card">
            <div class="face face1">
                <div class="content">
                    <img class="icon" src="facebookw.svg" width="40px">
                    <h3>Facebook</h3>
                </div>
            </div>
            <div class="face face2">
                <div class="content">
                    <p>
 Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                    </p>
                    <a href="#">Read More</a>
                </div>
            </div>
        </div>
        <div class="card">
            <div class="face face1">
                <div class="content">
                    <img class="icon" src="instagramw.svg" width="40px">
                    <h3>Instagram</h3>
                </div>
            </div>
            <div class="face face2">
                <div class="content">
                    <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                    </p>
                    <a href="#">Read More</a>
                </div>
            </div>
        </div>
        <div class="card">
            <div class="face face1">
                <div class="content">
                    <img class="icon" src="twitterw.svg" width="40px">
                    <h3>Twitter</h3>
                </div>
            </div>
            <div class="face face2">
                <div class="content">
                    <p>
Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                    </p>
                    <a href="#">Read More</a>
                </div>
            </div>
        </div>
    </div>

    
</body>
</html>