{% load static %}
{% include 'header.html' %}
<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'CSS/about.css' %}" />
    
</head>
<body>

    <div class="inner-banner">
        <div class="container">
            <div class="inner-banner-content">
                <h2 data-wow-duration="1.5s" data-wow-delay=".2s" style="visibility: visible; animation-duration: 1.5s; animation-delay: 0.2s;"><b>
                    About Us</b></h2>
                    <button href="{% url '/' %}"></button>
                    </div><!-- /.inner-banner-content -->
            <div class="inner-banner-img">
                <img src="{% static 'img/breadcrumb.png'%}" alt="">
            </div><!-- /.inner-banner-img -->

        </div><!-- /.container -->
    </div><!-- /.inner-banner -->


    
</body>
</html>