{% load static %}
{% include 'header.html' %}
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'CSS/contact.css' %}" /> 
    <title>Document</title>
</head>
<body>
    



<div class="d-flex">
    <div class="contact-form">
        <form method="post" action="{% url 'contact' %}">
            {% csrf_token %}
            <div class="container">
                <div class="row">
                    <h1>Contact Us</h1>
                </div>
                <div class="row">
                    <h4 style="text-align:center">We'd love to hear from you!</h4>
                </div>
                <div class="row input-container">
                    <div class="col-xs-12">
                        <div class="styled-input wide">
                            {{ form.name.label_tag }}
                            {{ form.name }}
                        </div>
                    </div>
                    <div class="col-md-6 col-sm-12">
                        <div class="styled-input">
                            {{ form.email.label_tag }}
                            {{ form.email }}
                        </div>
                    </div>
                    <div class="col-md-6 col-sm-12">
                        <div class="styled-input" style="float:right;">
                            {{ form.phone.label_tag }}
                            {{ form.phone }}
                        </div>
                    </div>
                    <div class="col-xs-12">
                        <div class="styled-input wide">
                            {{ form.content.label_tag }}
                            {{ form.content }}
                        </div>
                    </div>
                    <div class="col-xs-12">
                        <button type="submit" class="btn-lrg submit-btn">Send Message</button>
                    </div>
                </div>
            </div>
        </form>
    </div><!-- /.contact-form -->

<div class="map-content">
    <div class="container">
        <div class="map-content-inner">
        <p><iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3323.4201989874414!2d73.05034591150088!3d33.59440027322156!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x38df949d2be3d885%3A0x83a37f5f6cf58313!2sSuperTech%20Institute%20of%20Computer%20Sciences!5e0!3m2!1sen!2s!4v1724658078915!5m2!1sen!2s" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe></p>
    </div><!-- /.map-content-inner -->
    </div><!-- /.container -->
</div><!-- /.map-content -->
</div>
<!-- /.d-flex -->


    {% include 'footer.html'%}
</body>
</html>