{% load static %}
{% include 'header.html' %}
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'CSS/contact.css' %}" /> 
    <title>Document</title>
</head>
<body>
    <div class="contact-form">
        <form  method="post" action="{% url 'contact' %}">
            {% csrf_token %}
         <div class="container">
        <div class="row">
            {{form}}
                <h1>contact us</h1>
        </div>
        <div class="row">
                <h4 style="text-align:center">We'd love to hear from you!</h4>
        </div>
        <div class="row input-container">
                <div class="col-xs-12">
                    <div class="styled-input wide">
                        <input type="text" id="name"  name="contactname">
                        <label>Name</label> 
                    </div>
                </div>
                <div class="col-md-6 col-sm-12">
                    <div class="styled-input">
                        <input type="email"  id="email" name="contactemail"/>
                        <label>Email</label> 
                    </div>
                </div>
                <div class="col-md-6 col-sm-12">
                    <div class="styled-input" style="float:right;">
                        <input type="phone" id="phone" name="phone" />
                        <label>Phone Number</label> 
                    </div>
                </div>
                <div class="col-xs-12">
                    <div class="styled-input wide">
                        <textarea required i name="content" id="content"></textarea>
                        <label>Message</label>
                    </div>
                </div>
                <div class="col-xs-12">
                    <button type="submit" class="btn-lrg submit-btn" >Send Message</button>
                </div>
        </div>
    </div>
</form>
</div><!-- /.contact-form -->
    
    {% include 'footer.html'%}
</body>
</html>