{% load static %} {% include 'header.html' %}
<head>
  <title>Onlineauctions</title>
</head>

<body>
  <main>
    <div class="main-banner-content">
      <div class="container">
        <div class="main-banner-content-inner">
          <span>Welcome To Auction House</span>
          <h2 id="main-heading"><b>Build, sell & collect digital items.</b></h2>
          <p>
            Nulla facilisi. Maecenas ac tellus ut ligula interdum convallis.
            Nullam dapibus on erat in dolor posuere, none hendrerit lectus
            ornare. Suspendisse sit amet turpina sagittis, ultrices dui et,
            aliquam none hendrerit lectus.
          </p>
          <button id="btn1" class="btn btn-success btn-1">
            Start Exploring
          </button>
        </div>
        <!-- /.banner1-content-inner -->
      </div>
      <!-- /.container -->
    </div>
    <!-- /.banner-1-content -->

    <div id="carouselExampleIndicators" class="carousel slide">
      <div class="carousel-indicators">
        <button
          type="button"
          data-bs-target="#carouselExampleIndicators"
          data-bs-slide-to="0"
          class="active"
          aria-current="true"
          aria-label="Slide 1"
        ></button>
        <button
          type="button"
          data-bs-target="#carouselExampleIndicators"
          data-bs-slide-to="1"
          aria-label="Slide 2"
        ></button>
        <button
          type="button"
          data-bs-target="#carouselExampleIndicators"
          data-bs-slide-to="2"
          aria-label="Slide 3"
        ></button>
      </div>
      <div class="carousel-inner">
        <div class="carousel-item active">
          <img
            src="{% static 'img/banner-bg1.jpg' %}"
            class="d-block w-100"
            alt="..."
          />
        </div>
        <div class="carousel-item">
          <img
            src="{% static 'img/car2.jpg' %}"
            class="d-block w-100"
            alt="..."
          />
        </div>
        <div class="carousel-item">
          <img
            src="{% static 'img/car3.jpg' %}"
            class="d-block w-100"
            alt="..."
          />
        </div>
      </div>
      <button
        class="carousel-control-prev"
        type="button"
        data-bs-target="#carouselExampleIndicators"
        data-bs-slide="prev"
      >
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
      </button>
      <button
        class="carousel-control-next"
        type="button"
        data-bs-target="#carouselExampleIndicators"
        data-bs-slide="next"
      >
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
      </button>
    </div>

    <div class="product-content d-flex">
      <div class="container">
        <div class="product-content-inner">
          <h1><b>Live Auction</b></h1>
          <p style="color: grey">
            Explore on the world's best & largest Bidding marketplace with our
            beautiful Bidding<br />
            products. We want to be a part of your smile, success and future
            growth.
          </p>
        </div>
        <!-- /.product-content-inner -->
      </div>
    </div>
    <!-- /.product-content -->

    <div class="bid-cards">
      <div class="container">
        <div class="row">
          {% for product in products %} 
          {% if product.category == '1st-Auction' %}
          <div class="col-md-4">
            <div class="card">
              <img src="media/{{product.image}}" class="card-img-top"alt="..."/>
              <div class="card-body">
                <h5 class="card-title">{{product.title}}</h5>
                <p class="card-text"><b>{{product.description}}</b></p>
                <a href="#" class="btn btn-success">BUY NOW</a>
                <i class="bi bi-share-fill justify-content-end"></i>
              </div>
            </div>
          </div>
          {% endif %} 
          {% endfor %}
        </div>
        <!-- /.row -->
      </div>
      <!-- /.container -->
    </div>
    <!-- /.bid-cards -->

    <div class="cards-5">
      <div class="container">
        <div class="product-banners">
          <div class="banner-1">
            <img src="{% static 'img/camera.png' %}" alt="" />
            <div class="banner-1-content">
              <h4>Upcoming Auction</h4>
              <h2>The product Coming <br />In next Month</h2>
              <button class="btn btn-success btn-1">Place Bid</button>
            </div>
            <!-- /.banner-1-content -->
          </div>
          <!-- /.banner-1 -->

          <div class="banner-2">
            <img src="{% static 'img/ring.jpg' %}" alt="" />
            <div class="banner-2-content">
              <h4>Best Selling Item</h4>
              <h2>Hand Ring: Product is <br />Available in stock</h2>
              <button class="btn btn-success btn-1">Place Bid</button>
            </div>
            <!-- /.banner-2-content -->
          </div>
          <!-- /.banner-2 -->
        </div>
        <!-- /.product-banners -->
      </div>
      <!-- /.container -->
    </div>
    <!-- /.2-cards -->

  
  





<div class="bottom-cards">
  <div class="container">

  
  

    <a href="{% static 'img/art2.jpg' %}" alt="Mythrill" target="_blank">
      <div class="card">
        <div class="wrapper">
          <img src="{% static 'img/art2.jpg' %}" class="cover-image" />
        </div>
        <img src="{% static 'img/art2.jpg' %}" class="title" />
        <img src="{% static 'img/art2.jpg' %}" class="character" />
      </div>
    </a>
    
    <a href="{% static 'img/bid-now-logo.jpg' %}" alt="Mythrill" target="_blank">
      <div class="card">
        <div class="wrapper">
          <img src="{% static 'img/bid-now-logo.jpg' %}" class="cover-image" />
        </div>
        <img src="{% static 'img/bid-now-logo.jpg' %}" class="title" />
        <img src="{% static 'img/bid-now-logo.jpg' %}" class="character" />
      </div>
    </a>


    <a href="{% static 'img/art1.jpg' %}" alt="Mythrill" target="_blank">
      <div class="card">
        <div class="wrapper">
          <img src="{% static 'img/art1.jpg' %}" class="cover-image" />
        </div>
        <img src="{% static 'img/art1.jpg' %}" class="title" />
        <img src="{% static 'img/art1.jpg' %}" class="character" />
      </div>
    </a>
  </div><!-- /.container -->
  </div><!-- /.bottom-cards -->
  
  
  

  <div class="counter-box">
    <h2 class="counter"> 123</h2>
    <span class="counterapp-span">Lorem, ipsum dolor.</span>
  </div>
  <h4>Lorem, ipsum.</h4>
</div>


<div class="third-strip">
  <div class="container">
   <div class="third-strip-inner">
    <h1>Why<span>Choose</span>Us</h1>
    <img src="assets/images/dna.png" alt="">
    <p>Explore Our Completed Services! Consectetur adipiscing elitt elit tellus, luctus pulvinar dapibus leoconsectetur luctus nec.</p>
   </div> <!-- /.third-strip-inner -->



   <div class="third-strip-inner-content">  
    <div class="container"> <div class="row">
     
        </div><div class="card" style="width: 18rem;">
          <div class="card-body">
            <h5 class="card-title">Card title</h5>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
          </div>
        </div>
   

        <div class="card" style="width: 18rem;">
          <div class="card-body">
            <img src="media/{{product.image}}" alt="">
            <h5 class="card-title">Card title</h5>
            <h6 class="card-subtitle mb-2 text-body-secondary">Card subtitle</h6>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            <a href="#" class="card-link">Card link</a>
            <a href="#" class="card-link">Another link</a>
          </div>
        </div>
   
  
  
    
   
     
      <div class="card" style="width: 18rem;">
        <div class="card-body">
          <h5 class="card-title">Card title</h5>
          <h6 class="card-subtitle mb-2 text-body-secondary">Card subtitle</h6>
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
          <a href="#" class="card-link">Card link</a>
          <a href="#" class="card-link">Another link</a>
        </div>
      </div>

      <div class="card" style="width: 18rem;">
        <div class="card-body">
          <h5 class="card-title">Card title</h5>
          <h6 class="card-subtitle mb-2 text-body-secondary">Card subtitle</h6>
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
          <a href="#" class="card-link">Card link</a>
          <a href="#" class="card-link">Another link</a>
        </div>
      </div>

 

    
   
      
     
 


      </div><!-- /.row -->  

    </div><!-- /.col-md-3 -->

</div><!-- /.container -->
   </div><!-- /.third-strip-inner-content -->
</div><!-- /.container -->
 </div><!-- /.third-strip -->






  
  
  </main>

  <script
    src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz"
    crossorigin="anonymous"
  ></script>

  {% include 'footer.html' %}
</body>
