{% load static %}
{% include 'header.html' %}
<head>


</head>

<body>
  <main>
    <div id="carouselExampleIndicators" class="carousel slide">
      <div class="carousel-indicators">
        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active"
          aria-current="true" aria-label="Slide 1"></button>
        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1"
          aria-label="Slide 2"></button>
        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2"
          aria-label="Slide 3"></button>
      </div>
      <div class="carousel-inner">
        <div class="carousel-item active">
          <img src="{% static 'img/banner-bg1.jpg' %}" class="d-block w-100" alt="...">
        </div>
        <div class="carousel-item">
          <img src="{% static 'img/car2.jpg' %}" class="d-block w-100" alt="...">
        </div>
        <div class="carousel-item">
          <img src="{% static 'img/car3.jpg' %}" class="d-block w-100" alt="...">
        </div>
      </div>
      <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators"
        data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
      </button>
      <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators"
        data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
      </button>
    </div>


    <div class="banner1-content">
      <div class="container">
        <div class="banner1-content-inner">
          <span>Welcome To Auction House</span>
          <h2 id="hi"><b>Build, sell & collect digital items.</b></h2>
          <p>Nulla facilisi. Maecenas ac tellus ut ligula interdum convallis. Nullam
            dapibus on erat in dolor posuere, none hendrerit lectus ornare.
            Suspendisse sit amet turpina sagittis, ultrices dui et, aliquam none hendrerit lectus.</p>
            <button id='btn1' class="btn btn-success btn-1">Start Exploring</button>
        </div><!-- /.banner1-content-inner -->
      </div><!-- /.container -->
    </div><!-- /.banner-1-content -->


    <div class="cards-5">
      <div class="container">
        <div class="product-banners">
          <div class="banner-1">
            <img src="{% static 'img/camera.png' %}" alt="">
            <div class="banner-1-content">
              <h4>Upcoming Auction</h4>
              <h2>The product Coming <br>In next Month</h2>
              <button  class="btn btn-success btn-1">Place Bid</button>
            </div><!-- /.banner-1-content -->
          </div><!-- /.banner-1 -->


          <div class="banner-2">
            <img src="{% static 'img/ring.jpg' %}" alt="">
            <div class="banner-2-content">
              <h4>Best Selling Item</h4>
              <h2>Hand Ring: Product is <br>Available in stock</h2>
              <button  class="btn btn-success btn-1">Place Bid</button>
            </div><!-- /.banner-2-content -->
          </div><!-- /.banner-2 -->
          
          </div><!-- /.product-banners -->
      </div><!-- /.container -->
    </div><!-- /.2-cards -->









 
  </main>


  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz"
    crossorigin="anonymous"></script>

  
  
  
    {% include 'footer.html' %}
</body>