{% load static %}
{% include 'header.html' %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ product.title }}</title>
    <link rel="stylesheet" href="{% static 'CSS/prodetail.css' %}"> <!-- Link to your CSS file -->
</head>
<body>


    <div class="inner-banner">
        <div class="container">
          <div class="inner-banner-content">
            <h2
              data-wow-duration="1.5s"
              data-wow-delay=".2s"
              style="
                visibility: visible;
                animation-duration: 1.5s;
                animation-delay: 0.2s;
              "
            >
              <b>{{ product.title }}</b>
            </h2>
          </div>
          <!-- /.inner-banner-content -->
          <div class="inner-banner-img">
            <img src="{% static 'img/breadcrumb.png'%}" alt="" />
          </div>
          <!-- /.inner-banner-img -->
        </div>
        <!-- /.container -->
      </div>
      <!-- /.inner-banner -->



      
      <div class="card-details">
        
        <div class="container">
            <div class="product-detail">
                <div class="product-image">
                    <img src="{{ product.image.url }}" alt="{{ product.title }}">
                </div>
                <div class="product-info">
                    <h1 style="color: white;">{{ product.title }}</h1>
                    <p style="color: white;">{{ product.description }}</p>
    
                    <!-- Input form for name, email, and price -->
                    <form method="POST" action="{% url 'save_price' product.id %}" class="bid-form">
                        {% csrf_token %}
                        <label for="name">Enter your Name:</label>
                        <input type="text" id="name" name="name" required placeholder="Your Name">
    
                        <label for="email">Enter your Email:</label>
                        <input type="email" id="email" name="email" required placeholder="Your Email">
    
                        <label for="price">Enter your Bid:</label>
                        <input type="number" id="price" name="price" required placeholder="Your Bid">
    
                        <!-- Submit button -->
                        <button type="submit" class="btn-submit">Submit Bid</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
    
    <div class="pro-description">
        <div class="container">
            <div class="pro-description-inner">
                <span><h1>Discovering the {{ product.title }}</h1></span>
                <p>{{ product.long_description }}</p>
            </div>
        </div>
    </div>
    






  
                    
           
          








    {% include 'footer.html' %}
</body>
</html>