{% load static %}
{% include 'header.html' %}
<!DOCTYPE html>
<html>
</html>
<head>
   <title>Sign-up</title>
   <meta charset="UTF-8">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <link rel="stylesheet" href="{% static 'CSS/register.css' %}" />
</head>

<body>
  <div class="register-page">
  <div class="container">

    <form class="box">
      <input id="signup" type="radio" name="form" value="signup" checked>
      <label for="signup"></label>
      <input id="login" type="radio" name="form" value="login">
      <label for="login"></label>

      <form method="post" action="{% url 'register-user' %}">
        {% csrf_token %}
        <div class="content">
          <label for="username">Username</label>
          <input type="text" class="form-control" id="username" name="username">
          
          <label for="password">Password</label>
          <input type="password" class="form-control" id="password" name="password">
          
          <label for="email">Email</label>
          <input type="email" class="form-control" id="email" name="email">
        </div>
        <button></button>
      </div>
    </form>
    </div>
  </div>

</body>




{% include 'footer.html' %}