.inner-banner {
    background: rgba(12, 3, 33, 0.9);
}
.inner-banner {
    min-height: 400px;
    background: rgba(12, 3, 33, 0.9);
    position: relative;
    overflow: hidden;
    z-index: 1;
    display: flex;
    justify-content: start;
    align-items: center;
}