.inner-banner-content{
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    z-index: -1;
    transform: translate(70px, 160px);
}
.inner-banner-content button{
    padding: 20px;
    color: aqua;
    background-color: blueviolet;
    border-radius: 22px;
}
.inner-banner-content h2{
    font-size: 50px;
    color: white;


}
.inner-banner {
    background: rgba(12, 3, 33, 0.9);
}
.inner-banner {
    min-height: 400px;
    background: rgba(12, 3, 33, 0.9);
    position: relative;
    overflow: hidden;
    z-index: 1;
    display: flex;
    justify-content: start;
    align-items: center;
}
.inner-banner-img{
    text-align: right;
}

















/* General container styling */
.container {
    width: 80%;
    margin: auto;
    padding: 20px;
}

/* Product detail section styling */
.product-detail {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

/* Product image styling */
.product-image img {
    max-width: 100%;
    height: auto;
}

/* Product info styling */
.product-info {
    max-width: 600px;
}

.product-info h1 {
    font-size: 2em;
    margin-bottom: 10px;
}

.product-info p {
    font-size: 1.2em;
    margin-bottom: 15px;
}

.btn-success {
    background-color: #28a745;
    color: #fff;
    border: none;
    padding: 10px 20px;
    font-size: 1em;
    cursor: pointer;
}

.btn-success:hover {
    background-color: #218838;
}
